.beta-suffix{
    background: red;
    padding: 2px;
    color: white;
}
.homeHeader{
    background-color: #008BC3;
    height: 500px;
    padding-top: 10px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    margin-bottom: 5rem;
}
md-toolbar .homeHeaderTopMenu{
    background-color: red;
}
.homeHeaderWelcomeText{
    color: white;
    padding-top: 80px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.studio-design-panel{
    width: 100%;
    margin-top: 20px;
}
.fabric-container{
    width: 627px;
    height: 600px;
    margin: 0 auto;
}
.main-fabric-panel{
    border: 1px solid black;
    width: 627px;
    height: 411px;
}